.total-price {
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-order {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}
.burger-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.burger-center {
    list-style: none;
}
.burger-center-item:last-child {
    margin-bottom: 0;
}
.burger-container .custom-scroll {
    max-height: 464px;
    overflow-y: auto;
}
.burger-center-item {
    position: relative;
    margin-bottom: 16px;
}
ol {
    margin: 0;
}
.burger-center-icon {
    position: absolute;
    left: -28px;
    top: 29px;
}