.app {
    background-color: var(--background-alt);
}
.main {
    max-width: 1280px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 48px;
    margin: auto;
}
.loading {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

