.background {
    background-color: var(--background-alt);
}
.main {
    max-width: 1320px;
    margin: 120px auto;
    width: 100%;
}
.box {
    display: flex;
}
.leftbox {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    margin-right: 60px;
}
.nav {
    display: flex;
    flex-direction: column;
}
.button {
    line-height: 64px;
    cursor: pointer;
}
.button:hover {
    color: white;
}
.info {
    display: flex;
    flex-direction: column;
    max-width: 480px;
}
.error {
    color: red;
}
