.background {
    background-color: var(--background-alt);
}
.main {
    max-width: 1320px;
    margin: auto;
    width: 100%;
}
.box {
    display: flex;
}
.leftbox {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    margin-right: 60px;
}
.nav {
    display: flex;
    flex-direction: column;
    margin: 120px 0 0 0;
}
.button {
    text-decoration: none;
    line-height: 64px !important;
    cursor: pointer;
}
.button:hover {
    color: #F2F2F3;
}
.error {
    color: red;
    text-align: center;
}
.success {
    color: #F2F2F3;
    text-align: center;
}
