.header {
    background-color: var(--background);
    width: 100%;
}
.content {
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.logo {
    text-decoration: none;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    cursor: pointer;
}
.link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}